<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CerviScan</title>
    <link rel="stylesheet" href="hs.css">
    <script defer src="static\script.js"></script>
</head>
<body>
    <header>
        <div class="logo">CerviScan</div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="learn-more.html">Learn More</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="content">
            <div class="text">
                <h1>Cervical <br><span class="highlight">Cancer</span><br> Detection</h1>
                <p>Cancer often shows no symptoms until advanced stages.<br>
                     Regular testing can detect it early, making treatment simpler,<br>
                      less invasive, and more effective.</p><br>
                    
                <p><strong>Early Detection, Lifelong Protection — Start Your Screening Now!</strong></p>
                <a href="s1.html"> <button id="start-btn">Start</button></a>
            </div>
           
        </section>
    </main>
</body>
</html>
